# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [70]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [71]:
df_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [72]:
chipo = pd.read_csv(df_url, sep='\t')

### Step 4. See the first 10 entries

In [73]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [105]:
# Solution 1

chipo.info()
print("-" * 50)
chipo.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
--------------------------------------------------

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [ ]:
# Solution 2

print(f"rows: {chipo.shape[0]}")
print(f"columns: {chipo.shape[1]}")

rows: 4622
columns: 5

### Step 6. What is the number of columns in the dataset?

In [76]:
chipo.shape #5

(4622, 5)

### Step 7. Print the name of all the columns.

In [77]:
chipo.columns.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [106]:
chipo['order_id'].max()

np.int64(1834)

### Step 9. Which was the most-ordered item?

In [79]:
counts = chipo['item_name'].value_counts()
print(counts.head(10))

item_name
Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: count, dtype: int64

Two Lines

In [ ]:
grouped = chipo.groupby('item_name') # multiply by quantity
sums = grouped['quantity'].sum()

One Line

In [81]:
sums = chipo.groupby('item_name')['quantity'].sum()

top10 = sums.sort_values(ascending=False).head(10)
print(top10)

item_name
Chicken Bowl                    761
Chicken Burrito                 591
Chips and Guacamole             506
Steak Burrito                   386
Canned Soft Drink               351
Chips                           230
Steak Bowl                      221
Bottled Water                   211
Chips and Fresh Tomato Salsa    130
Canned Soda                     126
Name: quantity, dtype: int64

In [82]:
# Nombre d'occurrences de "Chicken bowl"
count_chicken = counts.get('Chicken Bowl', 0)

# Quantité totale de "Chicken bowl"
sum_chicken = sums.get('Chicken Bowl', 0) # return 0 instead of error

print(f"On a {count_chicken} lignes 'Chicken Bowl'")
print(f"pour un total de {sum_chicken} unités.")

On a 726 lignes 'Chicken Bowl'
pour un total de 761 unités.

### Step 10. For the most-ordered item, how many items were ordered?

In [83]:
# Nombre d'occurrences de "Chicken bowl"
count_chicken = counts.get('Chicken Bowl', 0)

# Quantité totale de "Chicken bowl"
sum_chicken = sums.get('Chicken Bowl', 0) # return 0 instead of error

print(f"On a {count_chicken} lignes 'Chicken Bowl'")
print(f"pour un total de {sum_chicken} unités.")

On a 726 lignes 'Chicken Bowl'
pour un total de 761 unités.

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
sums = chipo.groupby('choice_description')['quantity'].sum()
print(sums)

choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                 1
[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]                                                                1
[Adobo-Marinated and Grilled Chicken]                                                                                                          1
[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                1
[Adobo-Marinated and Grilled Steak]                                                                                                            1
                                                                                                                                              ..
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]                                2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]                                1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]    1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]                        1
Name: quantity, Length: 1043, dtype: int64
--------------------------------------------------

In [102]:
sums = chipo.groupby('choice_description')['quantity'].sum()
top10 = sums.sort_values(ascending=False).head(10)

print(top10)
print("-" * 50)

choice_description
[Diet Coke]                                                                          159
[Coke]                                                                               143
[Sprite]                                                                              89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                         42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
[Lemonade]                                                                            36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                  36
[Coca Cola]                                                                           32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                             30
Name: quantity, dtype: int64
--------------------------------------------------

In [ ]:
sums = chipo.groupby('choice_description')['quantity'].sum()
top10 = sums.sort_values(ascending=False).head(10)

for value in top10: ## top10.values:
    print(value)
print("-" * 50)

for key in top10.index:
    print(key)

159
143
89
49
42
40
36
36
32
30
--------------------------------------------------
[Diet Coke]
[Coke]
[Sprite]
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
[Lemonade]
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]
[Coca Cola]
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]

In [ ]:
grouped = chipo.groupby('choice_description')
sums = grouped['quantity'].sum()

top10 = sums.sort_values(ascending=False).head(10)

for choice, qty in top10.items():
    print(f"{choice} → {qty}")

[Diet Coke] → 159
[Coke] → 143
[Sprite] → 89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]] → 49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]] → 42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]] → 40
[Lemonade] → 36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]] → 36
[Coca Cola] → 32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]] → 30

In [94]:
sums       = chipo.groupby('choice_description')['quantity'].sum()
top10      = sums.sort_values(ascending=False).head(10)

# Si vous voulez aussi accéder à la position (1 à 10)
for i, (choice, qty) in enumerate(top10.items(), start=1):
    print(f"{i}. {choice}: {qty}")

1. [Diet Coke]: 159
2. [Coke]: 143
3. [Sprite]: 89
4. [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]: 49
5. [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]: 42
6. [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]: 40
7. [Lemonade]: 36
8. [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]: 36
9. [Coca Cola]: 32
10. [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]: 30

### Step 12. How many items were orderd in total?

In [67]:
total_order = chipo.groupby("order_id")
print(len(total_order))

print(chipo['order_id'].nunique())

1834
1834

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [68]:
# Solution 1

In [69]:
# Solution 2

### Step 17. How many different items are sold?